#######
# OSX #
#######
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

###########
# Tooling #
###########
.vagrant/

#######
# VIM #
#######
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#######
# Neovim #
#######
nvim/undodir/

#########
# Python #
#########
__pycache__/
*.pyc
.venv/
venv/

#########
# Rust #
#########
Cargo.lock
target/

#########
# Node #
#########
node_modules/

#########
# General #
#########
*.log
*.pid
*.seed
coverage/

#########
# Project Specific #
#########
.vim/backup/*
.vim/temp/*
.vim/.netrwhist
.vim/bundle/*

#########
# Local overrides #
#########
*.local
.env_mode

#########
# Broken symlinks #
#########
nvim/nvim